<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout 2 Responsivo</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="limiter">
    <div class="container">
      <div class="header-wrapper">
        <div class="header">
            <h1>Meu Site Super Tri</h1>
        </div>
      </div>
      <div class="main">
        <div class="side-wrapper">
          <div class="side">
            <ul class="menu">
              <li><a href="">Sobre Mim</a></li>
              <li><a href="">Meus Pensamentos</a></li>
              <li><a href="">Minhas Músicas</a></li>
              <li><a href="">Meu Face</a></li>
              <li><a href="">Meu Whats</a></li>
            </ul>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="content">
            <h3>Título 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero tempora dolor cumque dignissimos placeat veritatis ducimus numquam sed nam est!</p>
            <br>
            <h3>Título 2</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fuga minima repudiandae accusamus voluptates esse quos ut culpa atque nisi iste deserunt dicta dignissimos non soluta, illo, quae ratione unde blanditiis, maiores dolores voluptatibus dolorem quas modi? Ex rem voluptates consectetur, pariatur magnam voluptas deleniti vero repellendus nesciunt dignissimos assumenda excepturi tenetur possimus ipsa quibusdam sapiente libero numquam, ut, voluptate totam vel iure. Laborum ex maxime eaque tempora. Qui facere modi, sequi est reprehenderit aliquid quam et autem eaque consequuntur dolor earum ipsum a consequatur quae laboriosam, ducimus eius saepe voluptatem ullam quibusdam! Alias nostrum dicta id, omnis ea sequi.
            </p>
          </div>
        </div>
      </div>
      <div class="footer-wrapper">
        <div class="footer">
          <i>Meu site 2015</i>
        </div>
      </div>
    </div>
  </div>
</body>
</html>