* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 100%;
  font-family: Arial;
}

.fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  color: #fff;
  background: rgba(0,0,0,0.7);
}

.absolute-body {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: rgba(0,0,255,0.3);
}

.sem-position {
  margin-top: 40px;
  padding: 20px;
  background: rgba(255,0,15,0.3);
}

.relative {
  margin: 40px auto;
  width: 400px;
  position: relative;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(25,230,15,0.3);
}

.absolute-1 {
  position: absolute;
  top: -30px;
  left: 0;
  background: rgba(200,0,5,0.6);
  padding: 5px;
}
.absolute-2 {
  position: absolute;
  bottom: -30px;
  right: 0;
  background: rgba(0,200,5,0.6);
  padding: 5px;
}

