<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout 1 Fluido Melhorado</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="limiter">
    <div class="container">
      <div class="header">
        <div class="box">
          header
        </div>
      </div>
      <div class="main">
        <div class="side">
          <div class="box">
            side
          </div>
        </div>
        <div class="content">
          <div class="box">
            content
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="box">
          footer
        </div>
      </div>
    </div>
  </div>
</body>
</html>